<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/assets/img/logo-verde.svg">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/globals.css" />
    <link rel="stylesheet" href="/css/style-home.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    
    <script defer src="/js/menu.js"></script>
    <script defer src="/js/alert.js"></script>
    <%- include("./partials/manifest"); %>
</head>
<body>
    <%- include("./partials/header"); %>    
    <main class="main">
        <%- include("./partials/alerts"); %>
        <% if (users.length > 0) { %>
        <div class="table-container">
            <h2>Lista de usuários</h2>
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Morro</th>
                        <th>Tipo</th>
                        <th>Alterar</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (user of users) { %>
                    <tr class="user-row">
                        <td><%= user.nome %></td>
                        <td><%= user.email ? user.email : "Não cadastrado" %></td>
                        <td><%= user.telefone ? user.telefone : "Não cadastrado" %></td>
                        <td><%= user.morro %></td>
                        <td><%= user.tipo %></td>
                        <td><a href="/admin/user/<%= user.id %>">Alterar/Deletar</a></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <% } else { %>
        <div>
            <h2>Nenhum usuário encontrado</h2>
        </div>
        <% } %>
    </main>
    
</body>
</html>